$color-white: #fff;
$color-grey-light: #939699;
$color-base-grey: #262D33;
$color-base-grey-light: #4B5157;
$color-blue-light: #4592FF;
$color-blue-grey: #B4D1E0;
$color-green-light: #3DC47E;
$color-red-light: #FF4F52;
$color-red-pale: #FFC4C9;

